@{
    ViewBag.Title = "Success";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <style>
        body {
            background-color: @ViewBag.color;
        }</style>
    <div>
        <h2>@ViewBag.Message</h2>
        <p>@ViewBag.name</p>
        <p>@ViewBag.phone</p>
        <p>@ViewBag.email</p>
        <p>@ViewBag.birthday</p>
    
    </div>
</body>
</html>
